.math {
    font-family: serif;
    font-size: 2em;
}

code {
    white-space: pre;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mfrac {
    display: inline-block;
    font-size: 50%;
    position: relative;
    top: 1em;
}

.numerator {
    display: block;
    text-align: center;
}

.denominator {
    display: block;
    border-top: 1px solid black;
}

/* thanks to https://gist.github.com/unruthless/413930 */
.msubsup sub, .msubsup sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size: 75%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
}

.msubsup sup {
    /* Move the superscripted text up */
    top: -0.5em;
}

.msubsup sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom: -0.25em;
    left: -0.5em;
}

.msubsup sub .mrow {
    left: -0.5em;
    position: relative;
    bottom: -0.25em;
}

.mroot-index {
    font-size: 0.5em;
    vertical-align: super;
    top: -0.9em;
    position: relative;
    left: 0.9em;
}

.mroot-symbol {
    font-size: 1.34em;
}

.mroot-topbar {
    border-top: 0.05em solid black;
}

.mroot-base {
    margin-left: 0.05em;
}