.math {
    font-family: serif;
    font-size: 1.4em;
}

code {
    white-space: pre;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mfrac {
    display: inline-block;
}

.numerator {
    display: block;
    text-align: center;
}

.denominator {
    display: block;
    border-top: 1px solid black;
}